[submodule "exams"]
	path = exams
	url = https://github.com/Zhu-jiatong/exams.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = https://github.com/Zhu-jiatong/learning-cxx.git
[submodule "rustlings"]
	path = rustlings
	url = https://github.com/Zhu-jiatong/rustlings.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/LearningInfiniTensor/learning-lm-rs.git
